* {
    margin: 0px;
    padding: 0px;
}

.sign-up {
    width: 50%;
    background-color: whitesmoke;
    display: flex;
    flex-wrap: wrap;
}

.sign-up > input {
    flex: 0 0;
}

.name {
    flex: 1 0;
}

.other {
    flex-grow: 2;
}
